/* Index - Register - 404 - Forgot - Logout */

/* Global Content Items */
.contentHolder#index {
  background-color: #FFFFFF;
  padding: 15px
  border: solid #CCCCCC 1px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*.contentHeader#index {
  background-color: #000000;
  padding: 7px;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}*/

.contentHeader#index  {
  border-radius: 2px 2px 0px 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  -moz-border-radius: 2px 2px 0px 0px;
  background: url(http://skins.thehabbos.org/navbg_black.png);
  padding: 6px;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: -7px;
  margin-right: -7px;
  margin-bottom: 5px;
  margin-top: -7px;
  text-shadow: 0px 0px 2px #000000;
}

.contentHeader#index a {
color: #FFFFFF;
}

/* Global Links */
a:link, a:visited {
  color: #000000;
  text-decoration: underline;
}

a:hover, a:active {
  color: #000000;
  font-weight: bold;
}

/* Global Form Styles */
input[type="text"], input[type="password"] {
  background-color: #F9F9F9;
  border: 1px solid #999999;
  width: 197px;
  padding: 5px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #F9F9F9;
  border: 1px solid #999999;
  padding-top: 5px; padding-bottom: 5px;
  padding-right: 15px; padding-left: 15px;
  font-family: Verdana;
  font-size: 10px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}

textarea {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 5px;
  width: 620px;
  height: 125px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
}

select {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 5px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
}

/* Global Alerts */
.alert_red_box {
  background-color: #FF0000;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #CC3333;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.alert_green_box {
  background-color: #339933;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #348017;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.alert_gray_box {
	background-color: #F9F9F9;
	padding: 7px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: #999999;
	color: #666666;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.alert_yellow_box {
  background-color: #FF9900;
  padding: 3px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #FF6600;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Divider */
.divider {
 height: 1px;
 margin-top: 10px;
 margin-bottom: 10px;
 background-color: #CCCCCC;
}

div#dropDown
{
		
	margin-bottom: 20px;
	
	border-bottom: 2px solid #000;
	
	padding: 20px;
	
	position: absolute;
	
	width: 100%;
	
	background: #fff;
	
	text-align: center;
	
	font-size: 20pt;
	
	display: none;
	
}

/* Required Functions. */

.left
{
	
	float: left;	
	
}

.right
{
	
	float: right;

}

.clear
{
	
	clear: both;
		
}

.logo#index
{
	
	background: url('app/tpl/skins/Default/images/logo.gif') no-repeat;
	
	width: 152px;
    height: 40px;
}

/*Removes goDaddy ad */
#conash3D0
{
display:none;
}

	/* Body */
body#index, #forgot, #404 {
  background-color: #BCE0EE;
  margin: 20px;
  padding: 20px;
  font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  font-size: 10px;
  color: #000000;
}

body {
  background-color: #BCE0EE;
  margin: 20px;
  padding: 20px;
  font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  font-size: 10px;
  color: #000000;
}

body#me {
  background-image: url('http://4.bp.blogspot.com/_AW4kuUpzqnQ/Sj5VOH1HrCI/AAAAAAAAAEE/bs3yyEj6A8U/s320/bg.png');
  font-family : Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  font-size: 10px;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

/* Content Items */
.contentHolder#index {
  width: 830px;
  margin: 0 auto;
  border-radius: 5px;
}

.contentRight#index {
  width: 280px;
  float: right;
}

.contentLeft#index {
  width: 490px;
  float: left;
}

/* Register Items */
.box#register {
  width: 460px;
  background-color: #FFFFFF;
  border: solid #333333 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 165px;
  padding: 10px;
}

.box#login {
  width: 210px;
  float: right;
  background-color: #FFFFFF;
  border: solid #333333 1px;
  padding: 7px;
  margin-top: 50px;
  margin-right: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.innerView#index
{
	
	padding-left: 10px;
	padding-right: 10px;
		
}

.hotelView#index
{
	padding-top: 50px;
	background-image: url('app/tpl/skins/Default/images/27419_appart732_scene.gif'); 
	height: 400px; 
	width: 770px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin: 10px;
	
}

.topPadding
{

	padding: 20px;	
	
}

div.box a.register
{

	font-weight: bold;
		
}

.footer
{
	
	padding: 20px;
	
	text-align: center;	
	
}

.myChars
{
	
  width: 500px;
  float: right;
  background-color: #FFFFFF;
  border: solid #333333 1px;
  padding: 10px;
  margin-top: 110px;
  margin-right: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	
		
}

.myChars ul
{

	list-style: none;	
	
}

.myChars li
{

	padding: 10px;
	
	width: 50px;
	
	height: 100px;
	
	background-color: #333;
	
	color: #FFF;
	
	text-align: center;
	
	-webkit-border-radius: 5px;
  
  	-moz-border-radius: 5px;
  	
  	border-radius: 5px;
  	
  	float: left;
  	
  	margin-right: 15px;
  			
	
}

.myChars li:hover
{
	
	background-color: #000;
	
	cursor: pointer;
	
}

/* Me - Home - Articles - Account settings */

/* Global Content Items */
.contentHolder#me {
  background-color: #FFFFFF;
  padding: 10px;
  border: solid #CCCCCC 1px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.contentHeader#me {
  background-color: #000000;
  padding: 7px;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*Removes goDaddy ad */
#conash3D0
{
display:none;
}

/* Global Links */
a:link, a:visited {
  color: #000000;
  text-decoration: underline;
}

a:hover, a:active {
  color: #000000;
  font-weight: bold;
}

/* Global Form Styles */
input[type="text"], input[type="password"] {
  background-color: #F9F9F9;
  border: 1px solid #999999;
  width: 197px;
  padding: 5px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #F9F9F9;
  border: 1px solid #999999;
  padding-top: 5px; padding-bottom: 5px;
  padding-right: 15px; padding-left: 15px;
  font-family: Verdana;
  font-size: 10px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}

textarea {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 5px;
  width: 620px;
  height: 125px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
}

select {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 5px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
}

/* Global Alerts */
.alert_red_box {
  background-color: #FF0000;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #CC3333;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.alert_green_box {
  background-color: #339933;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #348017;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.alert_yellow_box {
  background-color: #FF9900;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #FF6600;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Divider */
.divider {
 height: 1px;
 margin-top: 10px;
 margin-bottom: 10px;
 background-color: #CCCCCC;
}

div#dropDown
{
		
	margin-bottom: 20px;
	
	border-bottom: 2px solid #000;
	
	padding: 20px;
	
	position: absolute;
	
	width: 100%;
	
	background: #fff;
	
	text-align: center;
	
	font-size: 20pt;
	
	display: none;
	
}

/* Required Functions. */

.left
{
	
	float: left;	
	
}

.right
{
	
	float: right;

}

.clear
{
	
	clear: both;
		
}

.logo#me
{
	
	background: url('app/tpl/skins/Default/images/logo.gif') no-repeat;
	
	width: 152px;
    height: 40px;
		
}

body#me {
  background-image: url('http://4.bp.blogspot.com/_AW4kuUpzqnQ/Sj5VOH1HrCI/AAAAAAAAAEE/bs3yyEj6A8U/s320/bg.png');
  font-family : Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  font-size: 10px;
  color: #000000;
}

/* Content Items */
.holder#me {
  margin: auto;
  width: 800px;
}

.contentRight#me {
  width: 280px;
  float: right;
}

.contentLeft#me {
  width: 490px;
  float: left;
}

/* Top Navigation Bar */
.top_navigation#me {
  background-color: #BCE0EE;
  color: #666666;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top_navigation_holder#me {
  margin: auto;
  width: 800px;
}

.top_navigation_right#me {
  float: right;
  vertical-align: middle;
}

.top_navigation_left#me {
  float: left;
}

.spacer_navigation#me {
  background: #000000;
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
}

/* Online Box */
.whosOnline#me {
  background-color: #FFFFFF;
  border: solid #CCCCCC 1px;
  padding: 10px;
  width: 90px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.minimailButton {
  background-color: #2767A7;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;  
  float: left;
  margin-right: 5px;
}

.minimailButton:hover
{
	
	background-color: #9DCEFE;
	
	color: #333;
	
}

.minimailButton a
{

	color: inherit;
	
	text-decoration: none;
			
}

.minimailBoxes {
  background-color: #F3F3F3;
  padding: 10px;
  margin-top: 10px;
  border: solid #CCCCCC 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.minimailBoxes:hover
{

	background-color: #E9E9E9;	
	
}

.minimailTextBoxes {
  background-color: #FFFFFF;
  padding: 10px;
  margin-top: 10px;
  border: solid #CCCCCC 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.greenButton {
  background-color: #428800;
  border: solid #2C7E00 2px;
  padding: 5px;
  font-size: 10px;
  font-family: Verdana;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  
  cursor:pointer;
}

.redButton {
  background-color: #BB0000;
  border: solid #990000 2px;
  padding: 5px;
  font-size: 10px;
  font-family: Verdana;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  
  cursor: pointer;
}

.blueButton
{

  background-color: #3671C8;
  border: solid #25559E 2px;
  padding: 5px;
  font-size: 10px;
  font-family: Verdana;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  
  cursor: pointer;			
	
}

.yellowButton
{

  background-color: #FFCC11;
  border: solid #EEAD0E 2px;
  padding: 5px;
  font-size: 10px;
  font-family: Verdana;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  
  cursor: pointer;			
	
}

.hotelView#me
{

		background: url(http://habbo.la/images/htlview_gb.png) no-repeat; 
		background-position: bottom left;
		
		width: 470px; 
		height: 120px; 
		padding: 10px;	
	
}

.enterHotel_me
{
	
	float: right; 
	width: 183px; 
	height: 110px; 
			
	font-size: 10pt;
	
	padding-top: 45px;
	
	margin-bottom: -30px;
	
	color: #FFFFFF; 
	text-align: center;	
	
	background: url('app/tpl/skins/Default/images/enter.gif') no-repeat;
	
}

.newsItem
{
	
	  -webkit-border-radius: 3px; -
	  moz-border-radius: 3px; 
	  border-radius: 3px; 
	  background-position: center top; 
	  width: 248px; 
	  height: 150px; 
	  color: #FFFFFF; 
	  padding: 10px;	
	
}

.newsTitle
{
	
	font-size: 15pt;
	
	font-weight: bold;
	
	cursor: pointer;
		
}

.newsPadding
{

	padding: 20px;
	
	padding-left: 0;
		
}

.newsNext
{
	
	background-color: #333;
	
	margin: -10px;

	padding: 5px;
		
	color: #fff;
	
	text-align: center;
		
	-webkit-border-radius: 3px; -
	moz-border-radius: 3px; 
	border-radius: 3px; 
	
}

.newsNext a
{
	
	color: #fff;
	
	text-decoration: none;	
	
}

.grayBox
{
	
	height: 30px;
	
	background: #333;
	
	color: #FFF;
	
	margin-top: 3px;	
	
	padding: 10px;
	
}

.grayBox li
{
	
	list-style: none;
	
	margin-left: 10px;

	margin-right: 10px;
	
	float: left;
	
	padding-top: 10px;
	
	
}

.hc
{
	
	background: url('http://myretro.me/web-gallery/icons/new_03.gif') no-repeat;
	
	height: 15px;
	
	width: 16px;
	
	float: left;
	
	margin-top: -5px;
	
	margin-right: 10px;
	
}
.credits
{
	
	background: url('http://myretro.me/web-gallery/icons/new_04.gif');
	
	height: 15px;
	
	width: 16px;
	
	float: left;
	
	margin-top: -5px;
	
	margin-right: 10px;
	
	
}
.pixels
{
	
	background: url('http://myretro.me/web-gallery/icons/pixels.png');
	
	height: 22px;
	
	width: 21px;
	
	float: left;
		
	margin-right: 10px;
	
	margin-top: -7px;
	
}

.infoFeed
{
	
	background-color: #F3F3F3; 
	padding: 20px; 
	color: #000000;

}

.messageIcon
{

	background: url('http://myretro.me/web-gallery/icons/chat.gif');	
	
	height: 31px;
	
	width: 27px;
	
	float: left;
	
	margin-right: 20px;
	
}

.hotelIcon
{

	background: url('http://myretro.me/web-gallery/icons/hotel.gif');	
	
	height: 32px;
	
	width: 23px;
	
	float: left;
	
	margin-right: 20px;
	
}

.messageContent
{
	
	padding: 10px;	

}

*{
  margin: 0px;
  padding: 0px;
} /* reset */


