/* Global Content Items */
.contentHolder {
  background-color: #FFFFFF;
  padding: 10px;
  border: solid #CCCCCC 1px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.contentHeader {
  background-color: #000000;
  padding: 7px;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*Removes goDaddy ad */
#conash3D0
{
display:none;
}

/* Global Links */
a:link, a:visited {
  color: #000000;
  text-decoration: underline;
}

a:hover, a:active {
  color: #000000;
  font-weight: bold;
}

/* Global Form Styles */
input[type="text"], input[type="password"] {
  background-color: #F9F9F9;
  border: 1px solid #999999;
  width: 197px;
  padding: 5px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #F9F9F9;
  border: 1px solid #999999;
  padding-top: 5px; padding-bottom: 5px;
  padding-right: 15px; padding-left: 15px;
  font-family: Verdana;
  font-size: 10px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}

textarea {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 5px;
  width: 620px;
  height: 125px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
}

select {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 5px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
}

/* Global Alerts */
.alert_red_box {
  background-color: #FF0000;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #CC3333;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.alert_green_box {
  background-color: #339933;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #348017;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.alert_yellow_box {
  background-color: #FF9900;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #FF6600;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Divider */
.divider {
 height: 1px;
 margin-top: 10px;
 margin-bottom: 10px;
 background-color: #CCCCCC;
}

div#dropDown
{
		
	margin-bottom: 20px;
	
	border-bottom: 2px solid #000;
	
	padding: 20px;
	
	position: absolute;
	
	width: 100%;
	
	background: #fff;
	
	text-align: center;
	
	font-size: 20pt;
	
	display: none;
	
}

/* Required Functions. */

.left
{
	
	float: left;	
	
}

.right
{
	
	float: right;

}

.clear
{
	
	clear: both;
		
}

.logo
{
	
	background: url('app/tpl/images/logo.gif') no-repeat;
	
	width: 152px;
    height: 40px;
		
}

	/* Body */
*{
  margin: 0px;
  padding: 0px;
} /* reset */

body {
  background-image: url('http://4.bp.blogspot.com/_AW4kuUpzqnQ/Sj5VOH1HrCI/AAAAAAAAAEE/bs3yyEj6A8U/s320/bg.png');
  font-family : Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  font-size: 10px;
  color: #000000;
}

/* Content Items */
#holder {
  margin: auto;
  width: 800px;
}

#contentRight {
  width: 280px;
  float: right;
}

#contentLeft {
  width: 490px;
  float: left;
}

/* Top Navigation Bar */
#top_navigation {
  background-color: #BCE0EE;
  color: #666666;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#top_navigation_holder {
  margin: auto;
  width: 800px;
}

#top_navigation_right {
  float: right;
  vertical-align: middle;
}

#top_navigation_left {
  float: left;
}

#spacer_navigation {
  background: #000000;
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
}

/* Online Box */
#whosOnline {
  background-color: #FFFFFF;
  border: solid #CCCCCC 1px;
  padding: 10px;
  width: 90px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.minimailButton {
  background-color: #2767A7;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;  
  float: left;
  margin-right: 5px;
}

.minimailButton:hover
{
	
	background-color: #9DCEFE;
	
	color: #333;
	
}

.minimailButton a
{

	color: inherit;
	
	text-decoration: none;
			
}

.minimailBoxes {
  background-color: #F3F3F3;
  padding: 10px;
  margin-top: 10px;
  border: solid #CCCCCC 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.minimailBoxes:hover
{

	background-color: #E9E9E9;	
	
}

.minimailTextBoxes {
  background-color: #FFFFFF;
  padding: 10px;
  margin-top: 10px;
  border: solid #CCCCCC 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.greenButton {
  background-color: #428800;
  border: solid #2C7E00 2px;
  padding: 5px;
  font-size: 10px;
  font-family: Verdana;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  
  cursor:pointer;
}

.redButton {
  background-color: #BB0000;
  border: solid #990000 2px;
  padding: 5px;
  font-size: 10px;
  font-family: Verdana;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  
  cursor: pointer;
}

.blueButton
{

  background-color: #3671C8;
  border: solid #25559E 2px;
  padding: 5px;
  font-size: 10px;
  font-family: Verdana;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  
  cursor: pointer;			
	
}

.yellowButton
{

  background-color: #FFCC11;
  border: solid #EEAD0E 2px;
  padding: 5px;
  font-size: 10px;
  font-family: Verdana;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  
  cursor: pointer;			
	
}

.hotelView
{

		background: url('app/tpl/images/htlview_gb.png') no-repeat; 
		background-position: bottom left;
		
		width: 458px; 
		height: 110px; 
		padding: 10px;	
	
}

.enterHotel_me
{
	
	float: right; 
	width: 183px; 
	height: 110px; 
			
	font-size: 10pt;
	
	padding-top: 45px;
	
	margin-bottom: -30px;
	
	color: #FFFFFF; 
	text-align: center;	
	
	background: url('app/tpl/images/enter.gif') no-repeat;
	
}

.newsItem
{
	
	  -webkit-border-radius: 3px; -
	  moz-border-radius: 3px; 
	  border-radius: 3px; 
	  background-position: center top; 
	  width: 248px; 
	  height: 150px; 
	  color: #FFFFFF; 
	  padding: 10px;	
	
}

.newsTitle
{
	
	font-size: 15pt;
	
	font-weight: bold;
	
	cursor: pointer;
		
}

.newsPadding
{

	padding: 20px;
	
	padding-left: 0;
		
}

.newsNext
{
	
	background-color: #333;
	
	margin: -10px;

	padding: 5px;
		
	color: #fff;
	
	text-align: center;
		
	-webkit-border-radius: 3px; -
	moz-border-radius: 3px; 
	border-radius: 3px; 
	
}

.newsNext a
{
	
	color: #fff;
	
	text-decoration: none;	
	
}

.grayBox
{
	
	height: 30px;
	
	background: #333;
	
	color: #FFF;
	
	margin-top: 3px;	
	
	padding: 10px;
	
}

.grayBox li
{
	
	list-style: none;
	
	margin-left: 10px;

	margin-right: 10px;
	
	float: left;
	
	padding-top: 10px;
	
	
}

.hc
{
	
	background: url('http://myretro.me/web-gallery/icons/new_03.gif') no-repeat;
	
	height: 15px;
	
	width: 16px;
	
	float: left;
	
	margin-top: -5px;
	
	margin-right: 10px;
	
}
.credits
{
	
	background: url('http://myretro.me/web-gallery/icons/new_04.gif');
	
	height: 15px;
	
	width: 16px;
	
	float: left;
	
	margin-top: -5px;
	
	margin-right: 10px;
	
	
}
.pixels
{
	
	background: url('http://myretro.me/web-gallery/icons/pixels.png');
	
	height: 22px;
	
	width: 21px;
	
	float: left;
		
	margin-right: 10px;
	
	margin-top: -7px;
	
}

.infoFeed
{
	
	background-color: #F3F3F3; 
	padding: 20px; 
	color: #000000;

}

.messageIcon
{

	background: url('http://myretro.me/web-gallery/icons/chat.gif');	
	
	height: 31px;
	
	width: 27px;
	
	float: left;
	
	margin-right: 20px;
	
}

.hotelIcon
{

	background: url('http://myretro.me/web-gallery/icons/hotel.gif');	
	
	height: 32px;
	
	width: 23px;
	
	float: left;
	
	margin-right: 20px;
	
}

.messageContent
{
	
	padding: 10px;	

}