/* Global Content Items */
.contentHolder {
  background-color: #FFFFFF;
  padding: 10px;
  border: solid #CCCCCC 1px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*.contentHeader {
  background-color: #000000;
  padding: 7px;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}*/

.contentHeader  {
  border-radius: 2px 2px 0px 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  -moz-border-radius: 2px 2px 0px 0px;
  background: url(http://skins.thehabbos.org/navbg_black.png);
  padding: 6px;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 5px;
  margin-top: -10px;
  text-shadow: 0px 0px 2px #000000;
}

/* Global Links */
a:link, a:visited {
  color: #000000;
  text-decoration: underline;
}

a:hover, a:active {
  color: #000000;
  font-weight: bold;
}

/* Global Form Styles */
input[type="text"], input[type="password"] {
  background-color: #F9F9F9;
  border: 1px solid #999999;
  width: 197px;
  padding: 5px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #F9F9F9;
  border: 1px solid #999999;
  padding-top: 5px; padding-bottom: 5px;
  padding-right: 15px; padding-left: 15px;
  font-family: Verdana;
  font-size: 10px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}

textarea {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 5px;
  width: 620px;
  height: 125px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
}

select {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 5px;
  font-family: verdana;
  font-size: 10px;
  color: #666666;
}

/* Global Alerts */
.alert_red_box {
  background-color: #FF0000;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #CC3333;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.alert_green_box {
  background-color: #339933;
  padding: 7px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #348017;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.alert_gray_box {
	background-color: #F9F9F9;
	padding: 7px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: #999999;
	color: #666666;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.alert_yellow_box {
  background-color: #FF9900;
  padding: 3px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #FF6600;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Divider */
.divider {
 height: 1px;
 margin-top: 10px;
 margin-bottom: 10px;
 background-color: #CCCCCC;
}

div#dropDown
{
		
	margin-bottom: 20px;
	
	border-bottom: 2px solid #000;
	
	padding: 20px;
	
	position: absolute;
	
	width: 100%;
	
	background: #fff;
	
	text-align: center;
	
	font-size: 20pt;
	
	display: none;
	
}

/* Required Functions. */

.left
{
	
	float: left;	
	
}

.right
{
	
	float: right;

}

.clear
{
	
	clear: both;
		
}

.logo
{
	
	background: url('app/tpl/images/logo.gif') no-repeat;
	
	width: 152px;
    height: 40px;
}

/*Removes goDaddy ad */
#conash3D0
{
display:none;
}

	/* Body */
body {
  background-color: #BCE0EE;
  margin: 20px;
  padding: 20px;
  font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  font-size: 10px;
  color: #000000;
}

/* Content Items */
.contentHolder {
  width: 800px;
  margin: 0 auto;
  border-radius: 5px;
}

#contentRight {
  width: 280px;
  float: right;
}

#contentLeft {
  width: 490px;
  float: left;
}

/* Register Items */
#registerBox {
  width: 460px;
  background-color: #FFFFFF;
  border: solid #333333 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 165px;
  padding: 10px;
}

.innerView
{
	
	padding-left: 10px;
	padding-right: 10px;
		
}

.hotelView
{
	padding-top: 50px;
	margin-left: -10px; 
	background-image: url('app/tpl/images/27419_appart732_scene.gif'); 
	height: 400px; 
	width: 800px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	
	
}

.topPadding
{

	padding: 20px;	
	
}

div#loginBox a.register
{

	font-weight: bold;
		
}

.footer
{
	
	padding: 20px;
	
	text-align: center;	
	
}

.myChars
{
	
  width: 500px;
  float: right;
  background-color: #FFFFFF;
  border: solid #333333 1px;
  padding: 10px;
  margin-top: 110px;
  margin-right: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	
		
}

.myChars ul
{

	list-style: none;	
	
}

.myChars li
{

	padding: 10px;
	
	width: 50px;
	
	height: 100px;
	
	background-color: #333;
	
	color: #FFF;
	
	text-align: center;
	
	-webkit-border-radius: 5px;
  
  	-moz-border-radius: 5px;
  	
  	border-radius: 5px;
  	
  	float: left;
  	
  	margin-right: 15px;
  			
	
}

.myChars li:hover
{
	
	background-color: #000;
	
	cursor: pointer;
	
}